<a href="https://colab.research.google.com/github/ShrutiThakur3/VCET-DS/blob/main/Basic_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Basics**

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
x=5
m=6
y="9"
z="2"
print(type(x))
print(type(y))
print(x+m)
print(y+z)

<class 'int'>
<class 'str'>
11
92

In [ ]:
#typecasting
a=int(z)
print(a+m)
""" is used to comment multiple line """

8

' is used to comment multiple line '

In [ ]:
#list        mutable--> the values can be change
l1=['h1',1,7,'list',6.7,9.5,[3,59,'hello']]
l2=l1[6][2]  #indexerror: list index out of range  if l2=l1[6][5]
print(l2)
length=len(l1)
print(length)

hello
7

In [ ]:
#pyhton program to illlutstarte a list
# create a empty list

num=[]

# appending a data in list
num.append(21)
num.append(40.5)
num.append("String")
print(num)

[21, 40.5, 'String']

In [ ]:
#tuple
t1=(1,3,7)
print(t1)

(1, 3, 7)

In [ ]:
#dictionary
d1={'Name':'XYZ','Age':21,'Proff':'student'}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.items())
print(d1.values())
print(d1['Name'])

{'Name': 'XYZ', 'Age': 21, 'Proff': 'student'}
<class 'dict'>
dict_keys(['Name', 'Age', 'Proff'])
dict_items([('Name', 'XYZ'), ('Age', 21), ('Proff', 'student')])
dict_values(['XYZ', 21, 'student'])
XYZ

In [ ]:
#accepting integer from the user
#the return type of input() function is string
#so we need to convert the integer
num1=int(input("Enter a num1: "))
num2=int(input("Enter the num2:"))
num3=num1+num2
print(num3)

Enter a num1: 21
Enter the num2:12
33

In [ ]:
num=int(input("Enter the number: "))
if (num>12):
  print("num1 is good")
elif(num1>35):
  print("not good")
else:
  print("great")

Enter the number: 13
num1 is good